@import "tailwindcss" source(none);
@source "./web/wp-content/themes/complex-codas/views";
@source "./web/wp-content/themes/complex-codas/inc";

@variant dark (.dark &);

[x-cloak] {display:none!important}
